/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --clr--blue--main: #0095ff;
  --clr--orange--itrsq: #ff5a00;
  --clr--orange--complementary: #e66e2e;
  --clr--white--transparent: rgba(255, 255, 255, 0.2);
  --ff--common: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

/* GENERAL CLASSES */

/* Colors */

.bg-gradient-orange {
  background: linear-gradient(
    -45deg,
    var(--clr--blue--main),
    var(--clr--orange--itrsq)
  );
  background-size: 400% 400%;
  -webkit-animation: bg--gradient--main 8s ease infinite;
  -moz-animation: bg--gradient--main 8s ease infinite;
  animation: bg--gradient--main 8s ease infinite;
}

@-webkit-keyframes bg--gradient--main {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bg--gradient--main {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg--gradient--main {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Containers */

.container-full-white {
  width: 100%;
  background-color: white;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.card-container {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.card-container > div {
  flex: 1;
  padding: 30px 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid var(--clr--white--transparent) 1px;
  border-radius: 10px;
  background-color: var(--clr--white--transparent);
}

/* Text*/

.txt-header-large-white {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  color: white;
  font-family: var(--ff--common);
  font-weight: 800;
  text-align: center;
}

.txt-header-small-white {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
  line-height: 2rem;
}

.txt-header-large-dynamic {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  background: linear-gradient(
    -45deg,
    var(--clr--blue--main),
    var(--clr--orange--itrsq)
  );
  background-size: 400% 400%;
  -webkit-animation: bg--gradient--main 8s ease infinite;
  -moz-animation: bg--gradient--main 8s ease infinite;
  animation: bg--gradient--main 8s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: var(--ff--common);
  font-weight: 800;
  margin-bottom: 40px;
  background-clip: text;
  text-align: center;
}
.txt-header-medium-dynamic {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 600;
  background: linear-gradient(
    -45deg,
    var(--clr--blue--main),
    var(--clr--orange--itrsq)
  );
  background-size: 400% 400%;
  -webkit-animation: bg--gradient--main 8s ease infinite;
  -moz-animation: bg--gradient--main 8s ease infinite;
  animation: bg--gradient--main 8s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-family: var(--ff--common);
  font-weight: 800;
  margin-bottom: 40px;
  background-clip: text;
}
.txt-description-large-grey {
  font-family: var(--ff--common);
  font-weight: 400;
  font-size: 1.4rem;
  color: grey;
  line-height: 1.8rem;
}

.txt-description-large-grey > span {
  color: grey;
}
.txt-description-small-white {
  font-family: var(--ff--common);
  font-weight: 400;
  font-size: 1rem;
  color: white;
  line-height: 1.4rem;
  text-align: center;
}

.txt-description-large-white {
  font-family: var(--ff--common);
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
  line-height: 2.1rem;
  text-align: center;
}

.txt-description-small-black {
  font-family: var(--ff--common);
  font-weight: 400;
  font-size: 1rem;
  color: black;
  line-height: 1.4rem;
  text-align: center;
}

.txt-header-small-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: black;
  line-height: 2rem;
}

/* Buttons */

.btn-classic {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  border: solid 3px var(--clr--white--transparent);
  background-color: var(--clr--white--transparent);
  color: white;
  font-family: var(--ff--common);
  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.2s all ease-in-out;
}

.btn-classic:hover {
  background-color: transparent;
  border: solid 3px white;
}

/* CLASSES */

/* Header */

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__clicked {
  border-bottom: solid white 2px;
  padding-bottom: 5px;
}

.header__logo {
  width: 6rem;
}

.header__container {
  margin: 0 auto;
  display: flex;
  width: 1440px;
  padding: 25px 50px 20px 50px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.header__container > div {
  display: flex;
  width: 80%;
  align-items: center;
}

.header__container > div > div {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding-top: 5px;
}

.header__container > div > div > a {
  color: white;
}

/* Footer */

.footer {
  padding: 30px 30px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.footer__container {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container > h1 {
  font-family: var(--ff--common);
  font-weight: 400;
  font-size: 1rem;
  color: black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 285px;
}

.footer__container img {
  width: 6rem;
}

/* Home */

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__container {
  width: 1440px;
  max-width: 1440px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__container > h1 {
  font-family: var(--ff--common);
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  color: white;
}

.hero__container > h2 {
  font-family: var(--ff--common);
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 400;
  width: 40%;
  margin: 30px 0 70px 0;
  color: white;
}

.icn-arrow-down {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  animation-name: pulseFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}
@keyframes pulseFadeInOut {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.home__services {
  width: 1440px;
  max-width: 1440px;
  padding: 80px 130px 80px 130px;
  margin: 0 auto;
}

.home__services p {
  width: 80%;
  margin-bottom: 40px;
}

.home__why {
  width: 100vw;
}

.home__why h1 {
  margin-bottom: 60px;
}

.home__why__container {
  width: 1440px;
  max-width: 1440px;
  padding: 80px 130px 20px 130px;
  margin: 0 auto;
}

.home__why__container h2 {
  margin-bottom: 20px;
}

.home__why__container h3 {
  margin: 60px auto;
  width: 80%;
}

/* Website */

.website {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.website > div > h1 {
  margin-top: 60px;
}

.website__how {
  width: 1440px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 81px;
}

.website__how > h1 {
  margin-top: 60px;
}

.website__how__path {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.website__how__path > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  text-align: center;
}

.website__how__path > div > * {
  height: 4rem;
}

.website__how__path__icons {
  font-size: 3rem;
  color: var(--clr--orange--itrsq);
}

.website__technologies {
  width: 1440px;
  max-width: 1440px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.website__technologies > h2 {
  margin-top: 20px;
}

.website__technologies > div {
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-top: 60px;
}

.website__technologies > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

.website__technologies img {
  height: 5rem;
  margin-bottom: 30px;
}

/* RESPONSIVE */

@media (max-width: 1105px) {
  .header__container > div {
    font-size: 1rem;
  }
}

@media (max-width: 975px) {
  .header__container > div {
    font-size: 0.8rem;
  }
}

/* ANIMATON CLASSES */

/* Text underline grow from middle */

.underline-grow {
  position: relative;
  color: white;
}

.underline-grow::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-grow:hover::before {
  transform: scaleX(1);
}
