/* Other rules */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
}

/* GENERAL CLASSES */

/* CONTAINERS */

/* Container for an entire page */
.container_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom is to keep the footer down */
  margin-bottom: 800px;
}

/* Basic container */
.container_1 {
  width: 1440px;
  max-width: 1440px;
  padding: 130px;
}
/* Same but without padding-top */
.container_2 {
  width: 1440px;
  max-width: 1440px;
  padding: 0 100px;
}

.container_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.card-container {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.card-container > div {
  flex: 1;
  padding: 30px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid lightgrey 1px;
  border-radius: 10px;
}

.card-container > div > h2 {
  font-size: 1.2em;
  text-align: center;
  color: rgb(255, 90, 0);
  font-weight: 600;
  margin-bottom: 15px;
}

.card-container > div > p {
  font-size: 1em;
  text-align: center;
  line-height: 1.3em;
}

/* TEXT */

.header_medium_black {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 60px;
}

.header_medium_orange {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: rgb(255, 90, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-bottom: 40px;
}

.header_purple_gradient {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.2rem;
  background: linear-gradient(
    90deg,
    rgba(41, 18, 58, 1) 0%,
    rgba(127, 61, 86, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.header_small_orange {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: rgb(255, 90, 0);
  line-height: 2rem;
}

.text_classic_black {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: black;
  line-height: 1.8rem;
  width: 80%;
  margin-bottom: 80px;
}

.text_classic_orange {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: rgb(255, 90, 0);
  line-height: 2.4rem;
  margin-top: 80px;
  padding: 0% 10%;
  text-align: center;
}

.text_classic_black > span {
  color: rgb(255, 90, 0);
}

/* Header */

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: rgb(255, 90, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__container {
  margin: 0 auto;
  display: flex;
  width: 1440px;
  padding: 25px 30px 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.header__container > div {
  font-size: 1.2rem;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.header__container > div > a {
  color: white;
}

.header__clicked {
  border-bottom: solid white 3px;
  padding-bottom: 5px;
}

.header__logo {
  width: 6rem;
}

/* Home */

.hero {
  height: 60vh;
}

.hero > h1 {
  margin-bottom: 20px;
}

.hero > h2 {
  width: 800px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* Footer */

.footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
  padding: 20px 30px;
  width: 100%;
  background: rgb(255, 90, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 90, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.footer__container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 90, 0, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border: solid white 2px;
  padding: 5px;
}

/* RESPONSIVE */

@media (max-width: 1105px) {
  .header__container > div {
    font-size: 1rem;
  }
}

@media (max-width: 975px) {
  .header__container > div {
    font-size: 0.8rem;
  }
}

/* ANIMATON CLASSES */

/* Text underline grow from middle */

.underline-grow {
  position: relative;
  color: white;
}

.underline-grow::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-grow:hover::before {
  transform: scaleX(1);
}
